{#
/**
 * @file
 * Frontend override to display a block.
 */
#}

{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
] %}

{% set title_classes = [
  'block--title',
] %}

{% block attach %}{% endblock %}

<div{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {% if label %}
    <h3{{title_attributes.addClass(title_classes)}}>
      {% block label %}
        {{- label -}}
      {% endblock %}
    </h3>
  {% endif %}
  {{ title_suffix }}

  <div{{content_attributes.addClass('block--content')}}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
