{% if image %}
  <h1>{{ title }}</h1>
  <div class="breadcrumbs">{{ breadcrumb }}</div>
  <div class="summary">{{ summary }}</div>
  <div class="image">
    {{ image }}
  </div>
{% else %}
  <div class="container">
    <h1>{{ title }}</h1>
  </div>
{% endif %}
