{#
/**
 * @file
 * Eau de Web Theme Component.
 */
#}
 {% if page.footer or page.footer_second or page.footer_third or page.footer_fourth %}
<footer {{ footer_attribute.setAttribute('id', 'footer').addclass(footer_classes) }}>
  {% if page.footer or page.footer_second %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{- page.footer -}}
      </div>

          <div class="col-md-6">
            {{- page.footer_second -}}
          </div>
        </div>
    </div>
  {% endif %}

{% if page.footer_third or page.footer_fourth %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{- page.footer_third -}}
      </div>

      <div class="col-md-6">
        {{- page.footer_fourth -}}
      </div>
    </div>
  </div>
 {% endif %}
</footer>
{% endif %}
