{#
/**
 * @file
 * Default theme implementation for addtocal_links.
 *
 * Available variables:
 * - attributes: An associative array of element attributes.
 * - button_text: The addtocal button text.
 * - button_attributes: An associative array of button attributes.
 * - menu_attributes: An associative array of menu attributes.
 * - items: List of add to cal links.
 *
 * @see template_preprocess_addtocal_links()
 *
 * @ingroup themeable
 */
#}
<div{{attributes}}>
  <div class="w--link--svg">
    <button{{button_attributes.addClass('btn','btn-link')}}>
      {{- button_text -}}
    </button>

    <span class="w--svg">
      <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.8254 17.333H1.17723C0.896421 17.333 0.667969 17.1015 0.667969 16.817V2.53698C0.667969 2.25246 0.896421 2.021 1.17723 2.021H16.8254C17.1062 2.021 17.3346 2.25246 17.3346 2.53698V16.817C17.3346 17.1015 17.1062 17.333 16.8254 17.333ZM1.17723 2.49007C1.15214 2.49007 1.13093 2.51155 1.13093 2.53698V16.817C1.13093 16.8424 1.15214 16.8639 1.17723 16.8639H16.8254C16.8505 16.8639 16.8717 16.8424 16.8717 16.817V2.53698C16.8717 2.51156 16.8505 2.49007 16.8254 2.49007H1.17723Z" fill="currentColor"/>
        <path d="M17.1032 5.72884H0.89945C0.771604 5.72884 0.667969 5.62383 0.667969 5.4943C0.667969 5.36478 0.771604 5.25977 0.89945 5.25977H17.1032C17.231 5.25977 17.3346 5.36478 17.3346 5.4943C17.3346 5.62383 17.231 5.72884 17.1032 5.72884Z" fill="currentColor"/>
        <path d="M8.00755 9.25866H6.4243C6.14349 9.25866 5.91504 9.02719 5.91504 8.74268V7.58044C5.91504 7.29592 6.14349 7.06445 6.4243 7.06445H8.00755C8.28836 7.06445 8.51681 7.29592 8.51681 7.58044V8.74268C8.51681 9.02719 8.28836 9.25866 8.00755 9.25866ZM6.4243 7.53353C6.39921 7.53353 6.378 7.55501 6.378 7.58044V8.74268C6.378 8.7681 6.39921 8.78959 6.4243 8.78959H8.00755C8.03264 8.78959 8.05385 8.7681 8.05385 8.74268V7.58044C8.05385 7.55501 8.03264 7.53353 8.00755 7.53353H6.4243Z" fill="currentColor"/>
        <path d="M11.5779 9.25866H9.99461C9.7138 9.25866 9.48535 9.02719 9.48535 8.74268V7.58044C9.48535 7.29592 9.7138 7.06445 9.99461 7.06445H11.5779C11.8587 7.06445 12.0871 7.29592 12.0871 7.58044V8.74268C12.0871 9.02719 11.8587 9.25866 11.5779 9.25866ZM9.99461 7.53353C9.96952 7.53353 9.94831 7.55501 9.94831 7.58044V8.74268C9.94831 8.7681 9.96952 8.78959 9.99461 8.78959H11.5779C11.603 8.78959 11.6242 8.7681 11.6242 8.74268V7.58044C11.6242 7.55501 11.603 7.53353 11.5779 7.53353H9.99461Z" fill="currentColor"/>
        <path d="M15.1472 9.25866H13.5639C13.2831 9.25866 13.0547 9.02719 13.0547 8.74268V7.58044C13.0547 7.29592 13.2831 7.06445 13.5639 7.06445H15.1472C15.428 7.06445 15.6565 7.29592 15.6565 7.58044V8.74268C15.6565 9.02719 15.428 9.25866 15.1472 9.25866ZM13.5639 7.53353C13.5389 7.53353 13.5176 7.55501 13.5176 7.58044V8.74268C13.5176 8.7681 13.5389 8.78959 13.5639 8.78959H15.1472C15.1723 8.78959 15.1935 8.7681 15.1935 8.74268V7.58044C15.1935 7.55501 15.1723 7.53353 15.1472 7.53353H13.5639Z" fill="currentColor"/>
        <path d="M4.43823 12.328H2.85496C2.57416 12.328 2.3457 12.0966 2.3457 11.812V10.6498C2.3457 10.3653 2.57416 10.1338 2.85496 10.1338H4.43823C4.71903 10.1338 4.94748 10.3653 4.94748 10.6498V11.812C4.94748 12.0966 4.71903 12.328 4.43823 12.328ZM2.85496 10.6029C2.82987 10.6029 2.80867 10.6243 2.80867 10.6498V11.812C2.80867 11.8375 2.82987 11.8589 2.85496 11.8589H4.43823C4.46332 11.8589 4.48452 11.8375 4.48452 11.812V10.6498C4.48452 10.6243 4.46332 10.6029 4.43823 10.6029H2.85496Z" fill="currentColor"/>
        <path d="M8.00755 12.328H6.4243C6.14349 12.328 5.91504 12.0966 5.91504 11.812V10.6498C5.91504 10.3653 6.14349 10.1338 6.4243 10.1338H8.00755C8.28836 10.1338 8.51681 10.3653 8.51681 10.6498V11.812C8.51681 12.0966 8.28836 12.328 8.00755 12.328ZM6.4243 10.6029C6.39921 10.6029 6.378 10.6243 6.378 10.6498V11.812C6.378 11.8375 6.39921 11.8589 6.4243 11.8589H8.00755C8.03264 11.8589 8.05385 11.8375 8.05385 11.812V10.6498C8.05385 10.6243 8.03264 10.6029 8.00755 10.6029H6.4243Z" fill="currentColor"/>
        <path d="M11.5779 12.328H9.99461C9.7138 12.328 9.48535 12.0966 9.48535 11.812V10.6498C9.48535 10.3653 9.7138 10.1338 9.99461 10.1338H11.5779C11.8587 10.1338 12.0871 10.3653 12.0871 10.6498V11.812C12.0871 12.0966 11.8587 12.328 11.5779 12.328ZM9.99461 10.6029C9.96952 10.6029 9.94831 10.6243 9.94831 10.6498V11.812C9.94831 11.8375 9.96952 11.8589 9.99461 11.8589H11.5779C11.603 11.8589 11.6242 11.8375 11.6242 11.812V10.6498C11.6242 10.6243 11.603 10.6029 11.5779 10.6029H9.99461Z" fill="currentColor"/>
        <path d="M15.1482 12.328H13.5649C13.2841 12.328 13.0557 12.0966 13.0557 11.812V10.6498C13.0557 10.3653 13.2841 10.1338 13.5649 10.1338H15.1482C15.429 10.1338 15.6574 10.3653 15.6574 10.6498V11.812C15.6574 12.0966 15.429 12.328 15.1482 12.328ZM13.5649 10.6029C13.5398 10.6029 13.5186 10.6243 13.5186 10.6498V11.812C13.5186 11.8375 13.5398 11.8589 13.5649 11.8589H15.1482C15.1733 11.8589 15.1945 11.8375 15.1945 11.812V10.6498C15.1945 10.6243 15.1733 10.6029 15.1482 10.6029H13.5649Z" fill="currentColor"/>
        <path d="M4.43823 15.4003H2.85496C2.57416 15.4003 2.3457 15.1688 2.3457 14.8843V13.722C2.3457 13.4375 2.57416 13.2061 2.85496 13.2061H4.43823C4.71903 13.2061 4.94748 13.4375 4.94748 13.722V14.8843C4.94748 15.1688 4.71903 15.4003 4.43823 15.4003ZM2.85496 13.6751C2.82987 13.6751 2.80867 13.6966 2.80867 13.722V14.8843C2.80867 14.9097 2.82987 14.9312 2.85496 14.9312H4.43823C4.46332 14.9312 4.48452 14.9097 4.48452 14.8843V13.722C4.48452 13.6966 4.46332 13.6751 4.43823 13.6751H2.85496Z" fill="currentColor"/>
        <path d="M8.00755 15.4003H6.4243C6.14349 15.4003 5.91504 15.1688 5.91504 14.8843V13.722C5.91504 13.4375 6.14349 13.2061 6.4243 13.2061H8.00755C8.28836 13.2061 8.51681 13.4375 8.51681 13.722V14.8843C8.51681 15.1688 8.28836 15.4003 8.00755 15.4003ZM6.4243 13.6751C6.39921 13.6751 6.378 13.6966 6.378 13.722V14.8843C6.378 14.9097 6.39921 14.9312 6.4243 14.9312H8.00755C8.03264 14.9312 8.05385 14.9097 8.05385 14.8843V13.722C8.05385 13.6966 8.03264 13.6751 8.00755 13.6751H6.4243Z" fill="currentColor"/>
        <path d="M11.5779 15.4003H9.99461C9.7138 15.4003 9.48535 15.1688 9.48535 14.8843V13.722C9.48535 13.4375 9.7138 13.2061 9.99461 13.2061H11.5779C11.8587 13.2061 12.0871 13.4375 12.0871 13.722V14.8843C12.0871 15.1688 11.8587 15.4003 11.5779 15.4003ZM9.99461 13.6751C9.96952 13.6751 9.94831 13.6966 9.94831 13.722V14.8843C9.94831 14.9097 9.96952 14.9312 9.99461 14.9312H11.5779C11.603 14.9312 11.6242 14.9097 11.6242 14.8843V13.722C11.6242 13.6966 11.603 13.6751 11.5779 13.6751H9.99461Z" fill="currentColor"/>
        <path d="M4.35453 3.75676C4.22668 3.75676 4.12305 3.65175 4.12305 3.52222V0.900553C4.12305 0.77102 4.22668 0.666016 4.35453 0.666016C4.48236 0.666016 4.58601 0.77102 4.58601 0.900553V3.52222C4.58601 3.65175 4.48236 3.75676 4.35453 3.75676Z" fill="currentColor"/>
        <path d="M13.6475 3.75676C13.5197 3.75676 13.416 3.65175 13.416 3.52222V0.900553C13.416 0.77102 13.5197 0.666016 13.6475 0.666016C13.7753 0.666016 13.879 0.77102 13.879 0.900553V3.52222C13.879 3.65175 13.7753 3.75676 13.6475 3.75676Z" fill="currentColor"/>
      </svg>
    </span>
  </div>

  <div{{menu_attributes}}>
    <ul class="addtocal-links">
      {% for type, item in items %}
        <li class="addtocal-link" data-addtocal-type="{{ type }}">
          <a href="{{ item.url }}" target="_blank" rel="noopener" aria-label="{{ item['aria-label'] }}">
            {{- item.title -}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
