{#
/**
 * @file
 * Default theme implementation for Share Everywhere module.
 *
 * Available variables:
 *  - attributes: Remaining HTML attributes for the element, including:
 *    - class: HTML classes that can be used to style contextually through CSS.
 *  - title: The title of the module.
 *  - facebook_like: The rendered Facebook like button if enabled in the settings.
 *  - share_icon: Universal share icon.
 *    - id: Unique id.
 *    - class: Additional classes.
 *    - src: Path to the share icon.
 *    - alt: Alt text of the image.
 *  - se_links_id: Unique id.
 *  - is_active: Gives se-active class to the ul element if it is setup to be non-collapsible or gives se-inactive by default.
 *  - buttons: The social buttons to be rendered.
 *
 */
#}

<div class="se-block {{ attributes.class }}" {{ attributes }}>
  {% if title %}
    <h3 class="block-title">
      {{- title -}}
    </h3>
  {% endif %}

  <div class="block-content">
    {% if facebook_like %}
      <div class="se-like-container">
        {{ facebook_like }}
      </div>
    {% endif %}

    <div class="se-container">
      <div id="{{ share_icon.id }}" class="se-trigger {{ share_icon.class }}">
        <svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_520_5532" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="32" height="32">
            <rect width="32" height="32" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_520_5532)">
            <path d="M24 29.3333C22.8889 29.3333 21.9444 28.9444 21.1667 28.1666C20.3889 27.3888 20 26.4444 20 25.3333C20 25.1777 20.0111 25.0166 20.0333 24.85C20.0556 24.6833 20.0889 24.5333 20.1333 24.4L10.7333 18.9333C10.3556 19.2666 9.93333 19.5277 9.46667 19.7166C9 19.9055 8.51111 20 8 20C6.88889 20 5.94444 19.6111 5.16667 18.8333C4.38889 18.0555 4 17.1111 4 16C4 14.8888 4.38889 13.9444 5.16667 13.1666C5.94444 12.3888 6.88889 12 8 12C8.51111 12 9 12.0944 9.46667 12.2833C9.93333 12.4722 10.3556 12.7333 10.7333 13.0666L20.1333 7.59996C20.0889 7.46663 20.0556 7.31663 20.0333 7.14996C20.0111 6.98329 20 6.82218 20 6.66663C20 5.55551 20.3889 4.61107 21.1667 3.83329C21.9444 3.05551 22.8889 2.66663 24 2.66663C25.1111 2.66663 26.0556 3.05551 26.8333 3.83329C27.6111 4.61107 28 5.55551 28 6.66663C28 7.77774 27.6111 8.72218 26.8333 9.49996C26.0556 10.2777 25.1111 10.6666 24 10.6666C23.4889 10.6666 23 10.5722 22.5333 10.3833C22.0667 10.1944 21.6444 9.93329 21.2667 9.59996L11.8667 15.0666C11.9111 15.2 11.9444 15.35 11.9667 15.5166C11.9889 15.6833 12 15.8444 12 16C12 16.1555 11.9889 16.3166 11.9667 16.4833C11.9444 16.65 11.9111 16.8 11.8667 16.9333L21.2667 22.4C21.6444 22.0666 22.0667 21.8055 22.5333 21.6166C23 21.4277 23.4889 21.3333 24 21.3333C25.1111 21.3333 26.0556 21.7222 26.8333 22.5C27.6111 23.2777 28 24.2222 28 25.3333C28 26.4444 27.6111 27.3888 26.8333 28.1666C26.0556 28.9444 25.1111 29.3333 24 29.3333ZM24 7.99996C24.3778 7.99996 24.6944 7.87218 24.95 7.61663C25.2056 7.36107 25.3333 7.0444 25.3333 6.66663C25.3333 6.28885 25.2056 5.97218 24.95 5.71663C24.6944 5.46107 24.3778 5.33329 24 5.33329C23.6222 5.33329 23.3056 5.46107 23.05 5.71663C22.7944 5.97218 22.6667 6.28885 22.6667 6.66663C22.6667 7.0444 22.7944 7.36107 23.05 7.61663C23.3056 7.87218 23.6222 7.99996 24 7.99996ZM8 17.3333C8.37778 17.3333 8.69444 17.2055 8.95 16.95C9.20556 16.6944 9.33333 16.3777 9.33333 16C9.33333 15.6222 9.20556 15.3055 8.95 15.05C8.69444 14.7944 8.37778 14.6666 8 14.6666C7.62222 14.6666 7.30556 14.7944 7.05 15.05C6.79444 15.3055 6.66667 15.6222 6.66667 16C6.66667 16.3777 6.79444 16.6944 7.05 16.95C7.30556 17.2055 7.62222 17.3333 8 17.3333ZM24 26.6666C24.3778 26.6666 24.6944 26.5388 24.95 26.2833C25.2056 26.0277 25.3333 25.7111 25.3333 25.3333C25.3333 24.9555 25.2056 24.6388 24.95 24.3833C24.6944 24.1277 24.3778 24 24 24C23.6222 24 23.3056 24.1277 23.05 24.3833C22.7944 24.6388 22.6667 24.9555 22.6667 25.3333C22.6667 25.7111 22.7944 26.0277 23.05 26.2833C23.3056 26.5388 23.6222 26.6666 24 26.6666Z" fill="#999999"/>
          </g>
        </svg>

        <span class="share-link">
          {{- 'Share'|t -}}
        </span>
      </div>
      <div class="se-links-container">
        <ul id="{{ se_links_id }}" class="se-links {{ is_active }}">
          {% for key, button in buttons %}
            <li class="se-link {{ key }}">
              {{ button }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
