{{ attach_library('frontend/node--teaser') }}

{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}

{% set main_class = 'col-md-8' %}
{% if node.field_image.isEmpty %}
  {% set main_class = 'col-md-12' %}
{% endif %}

<article{{ attributes.addClass(classes) }}>
  <div class="row" {{ content_attributes.addClass('node__content') }}>
    {% if not node.field_image.isEmpty %}
      <div class="col-md-4">
        {{ content.field_image }}
      </div>
    {% endif %}
    <div class="{{ main_class }}">
      <div class="date-tags">
        {{ content.field_news_type }}
        <div>{{ node.getCreatedTime|format_date('european_date') }}</div>
      </div>
      {{ title_prefix }}
      {% if label and not page %}
        <h3{{ title_attributes }}>
          <a class="title-teaser max-2-lines" href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h3>
      {% endif %}
      {{ title_suffix }}
      <div class="max-3-lines">
        {{ content.body }}
      </div>
    </div>
  </div>
</article>
